<div class="filter">
    <div class="card">
        <div class="card-header">
            <strong>Filter</strong>
        </div>
        <div class="card-body">
            <form>
                <div class="formg-group">
                    <label for="from">From</label>
                    <input type="number" class="form-control">
                </div>
    
                <div class="formg-group">
                    <label for="from">To</label>
                    <input type="number" class="form-control">
                </div>
                
                
            </form>
        </div>
        <div class="card-footer">
            <button class="btn btn-primary btn-block btn-sm">Filter by price</button>
        </div>
    </div>
</div>